###################
#### OpenWebUI ####
###################

#Login Settings
OPENWEBUI_AUTH=TRUE ## Change if you dont want to login to openwebui
OPENWEBUI_ENABLE_LOGIN_FORM=TRUE ## Change if you want to disable the login from (e.g when you use SSO)

#Database Connection
MILVUS_URI=http://milvus-standalone:19530 ## Change if you have named it differently
MILVUS_TOKEN=root:Milvus ## Change if you have named it differently
MILVUS_DB=default ## Change if you have named it differently
VECTOR_DB=milvus ## Change if you have named it different


###################
####### n8n #######
###################

# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Berlin

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@example.com

# THIS IS CRITICAL: SET THIS TO TRUE FOR PROD ENVIRONMENTS
# THIS IS ON FALSE ONLY FOR TESTING PURPOSE
N8N_SECURE_COOKIE=FALSE
